<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-icon
        *ngIf="questionIndex > 0"
        name="refresh"
        slot="start"
        (click)="refresh()"
      ></ion-icon>
      <ion-icon
        name="logo-github"
        slot="end"
        alt="github"
        (click)="openLink('https://github.com/galwort/groundfloor')"
      ></ion-icon>
    </ion-toolbar>
  </ion-header>
  <div class="centered">
    <div class="content">
      <div class="image" *ngIf="showImage">
        <img [src]="imageFilename" />
      </div>
      <div class="supporting" *ngIf="showSupportingDetails"></div>
      <div class="main">
        <pre class="dialogue">{{ dialogue }}</pre>
        <ion-textarea
          *ngIf="showTextInput"
          fill="outline"
          type="text"
          [autoGrow]="true"
          (keydown.enter)="onButtonClick($event)"
          [(ngModel)]="inputText"
        ></ion-textarea>
        <div class="list" *ngIf="list.length > 0">
          <ion-item *ngFor="let item of list; let i = index">
            <ion-input
              *ngIf="showListInput"
              fill="outline"
              type="number"
              placeholder="0"
              min="0"
              max="100"
              [(ngModel)]="selectedJobTitles[item]"
              (ngModelChange)="onJobTitleChange(item, $event)"
            ></ion-input>
            <ion-text>{{ item }}</ion-text>
          </ion-item>
        </div>
        <ion-button
          *ngIf="showButton"
          color="dark"
          (click)="onButtonClick($event)"
          >{{ buttonLabel }}</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
