<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-icon
        *ngIf="questionIndex > 0"
        name="refresh"
        slot="start"
        (click)="refresh()"
      ></ion-icon>
      <ion-icon
        name="logo-github"
        slot="end"
        alt="github"
        (click)="openLink('https://github.com/galwort/groundfloor')"
      ></ion-icon>
    </ion-toolbar>
  </ion-header>
  <div class="centered">
    <div class="content">
      <div class="image">
        <img [src]="'assets/' + imageFilename + '.png'" />
      </div>
      <div class="supporting" *ngIf="showSupportingDetails"></div>
      <div class="main">
        <p>{{ dialogue }}</p>
        <ion-textarea
          *ngIf="showTextInput"
          fill="solid"
          type="text"
          [autoGrow]="true"
          (keydown.enter)="onButtonClick()"
          [(ngModel)]="inputText"
        ></ion-textarea>
        <div *ngIf="jobTitles.length > 0">
          <ion-item *ngFor="let job of jobTitles">
            <ion-input
              fill="outline"
              type="number"
              placeholder="0"
              min="0"
              max="100"
            ></ion-input>
            <ion-text>{{ job }}</ion-text>
          </ion-item>
        </div>
        <ion-button *ngIf="showButton" color="dark" (click)="onButtonClick()"
          >{{ buttonLabel }}</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
