:root {
  --vh: 1vh;
}

ion-content {
  --background: linear-gradient(to bottom right, black, #222);
  color: red;
  display: flex;
  flex-direction: column;
  height: 100vh;

  ion-toolbar {
    --background: transparent;
    --color: white;
    height: 8vh;

    ion-icon {
      font-size: 5vh;
      padding: 1vh;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 2%;
    height: calc(100vh - 8vh);

    &.list-displayed {
      justify-content: flex-start;
      overflow-y: auto;
    }

    .content {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 40px;
      width: 100%;
      overflow-y: auto;

      .image,
      .supporting,
      .main {
        border-radius: 15px;
        background-color: #222;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        width: fit-content;
        max-width: min(85vw, 500px);
        padding: 25px;
        text-align: center;

        pre.dialogue {
          white-space: pre-wrap;
          word-wrap: break-word;
          text-align: left;
          overflow: hidden;
          margin: 0;
          padding: 0;
          color: white;
        }

        ion-item {
          display: flex;
          align-items: center;

          ion-input {
            width: 80px;
            margin: 10px;
          }

          .job-title {
            text-align: left;
          }
        }
      }

      .image {
        padding: 15px;

        img {
          max-height: min(85vw, 220px);
          border-radius: 15px;
        }
      }

      .main {
        max-width: 500px;

        .list {
          padding-top: 20px;
        }

        ion-item {
          font-family: "Consolas", monospace;
        }

        ion-textarea {
          margin-top: 20px;
          padding-left: 10px;
          padding-right: 10px;
          font-family: "Consolas", monospace;
          border: solid 1px white;
          border-radius: 5px;
        }

        ion-button {
          padding-top: 20px;
          font-weight: bold;
        }
      }
    }
  }
}
