<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-icon
        *ngIf="currentPhase !== 'companyName'"
        name="refresh"
        slot="start"
        (click)="refresh()"
      ></ion-icon>
      <ion-icon
        name="logo-github"
        slot="end"
        alt="github"
        (click)="openLink('https://github.com/galwort/groundfloor')"
      ></ion-icon>
    </ion-toolbar>
  </ion-header>
  <div class="centered">
    <ng-container [ngSwitch]="currentPhase">
      <app-company-name
        *ngSwitchCase="'companyName'"
        (nameSubmitted)="onCompanyNameSubmitted($event)"
      ></app-company-name>
    </ng-container>
  </div>
</ion-content>
